body{ color: #666; background:#F8FBFE; }
a {color: #666;}

.container{width: 1000px; margin:0 auto;}

/* header -> intro */
#intro {height: 39px; border-bottom: 1px solid #dedede; background: #f8f8f8;}
#intro a{color: #999}
#intro a:hover{color: #FE5400; text-decoration: none;}
#intro .container {position:relative; border: 1px solid #C4D5E0; border-radius: 4px;}
#intro .login-info { padding:0 18px; line-height: 39px; color: #999; background: #fff; }
#intro .login-info a { margin-left: 5px; }

#intro .quick-menu {position: absolute; top:0; right:0; height: 38px; line-height: 38px;}
#intro .quick-menu li{ float: left; display: inline; }
#intro .menu {position: relative;}
#intro .menu-hd {display: block;padding: 0 8px;}
#intro .menu-bd {position:absolute; left:0; display:none; border: 1px solid #eee; background: #f8f8f8;}
#intro .menu-bd a {display: block; padding: 0 5px; white-space: nowrap;}

/* header */
#header{ position:relative; height: 65px; min-width: 1000px; width: 1000px; margin: 0 auto; padding-top: 25px;  background:url(img/mall/member/body_bg.png) no-repeat center top;}

/* header -> logo */
#header .lay-logo { position: absolute; left:0; padding-left:10px; }
#header .lay-logo a { float:left; }

/* header -> intro */
#header .lay-nav {position:absolute; right:0;}
#header .lay-nav {background-color:#F9703A; width: 770px; border-radius: 5px; box-shadow: 0 2px 0 rgba(193,219,232,0.3);}
#header .lay-nav li { float:left;  }
#header .lay-nav li a { display: block; padding: 9px 24px; border: solid; border-color: transparent #D65700 transparent #FF8428; border-width: 0 1px;  font-size: 14px; font-weight: bold; text-decoration: none; color: #FFF; text-align: center; text-shadow: 1px 1px 0 rgba(242,59,0,1);}
#header .lay-nav li a:hover { background-color:#DD5A22; }
#header .lay-nav li.first a { background-color:#DD5A22; border-radius: 4px 0 0 4px;}
#header .lay-nav li i.new-message { font-family:Tahoma; font-size: 0.8em; font-weight: 700; line-height: 18px; color: #FFF; background: url(../images/member/ncus_public.png) no-repeat -60px -60px; text-align: center; width: 18px; height: 18px; padding: 7px; position: absolute; z-index:1; top: -13px; right: -2px;}
#header .lay-nav .search-box { float:right; width:240px; border-left: solid 1px #FF8428; height: 26px; padding: 6px 16px 6px 39px; position: relative; z-index:1;}
#header .lay-nav .search-box input[type="text"], #header .lay-nav .search-box .text { float:right; width: 200px; font-family: Tahoma; line-height: 16px; background:#FFFFDF; padding: 4px 2px 6px 4px !important; border:none !important; border-radius: 3px; box-shadow: 1px 3px 1px #FFB775 inset !important; transition:width 0.5s; -moz-transition:width 0.5s/* Firefox 4 */; -webkit-transition:width 0.5s/* Safari and Chrome */; -o-transition:width 0.5s/* Opera */;}
#header .lay-nav .search-box:hover input[type="text"], #header .lay-nav .search-box input[type="text"]:focus { width: 240px; width: 200px\9/* IE */; background-color:#FFF; box-shadow:1px 1px 1px #AB320A !important; -moz-box-shadow:1px 1px 1px #AB320A !important/* Firefox 4 */; -webkit-box-shadow:1px 1px 1px #AB320A !important/* Safari and Chrome */;}
#header .lay-nav .search-box .text { float:right; width: 200px; font-family: Tahoma; line-height: 16px; background:#FFFFDF; padding: 4px 2px 6px 4px !important; border:none !important;  }
#header .lay-nav .search-box:hover .text { width: 200px\9/* IE */; background-color:#FFF;}
#header .lay-nav .search-box input[type="submit"] { line-height: 16px; background: transparent url(../images/member/ncus_public.png) no-repeat scroll 0px -380px; width: 16px; height: 16px; border: none; position: absolute; z-index: 999; top: 12px; right: 20px; cursor: pointer; opacity:0.5; -moz-opacity:0.5/* Firefox 4 */; -moz-webkit:0.5/* Safari and Chrome */;}
#header .lay-nav .search-box:hover input[type="submit"] {opacity:1; -moz-opacity:1/* Firefox 4 */; -moz-webkit:1/* Safari and Chrome */;}

#header .lay-nav .search-box .submit { line-height: 16px; background: transparent url(../images/member/ncus_public.png) no-repeat scroll 0px -380px; width: 16px; height: 16px; border: none; position: absolute; z-index: 999; top: 12px; right: 20px; cursor: pointer;}
