/* intro icons */
.intro-icons { display: inline-block; *display: inline; *zoom: 1; height: 12px; width: 12px; background: url(/img/mall/common/new-common.png) -999em -999em no-repeat; }
.icons-down { background-position: 1px -405px;position: relative;top: 2px; *top:-1px; }
.icons-cart { margin-right:5px; background-position: 0 -427px;position: relative; top: 2px; *top:-1px; }
.icons-arrows-left { background-position: -37px -430px; }
.icons-arrows-right { background-position: -37px -450px; }

.nav-icons { display: inline-block; *display: inline; *zoom: 1; background: url(/img/mall/index/mall_index.png) no-repeat;}
.icons-arrows-down{ margin-left:5px; width: 7px; height: 5px; background-position: 0 0;}
.icons-arrows-cate{ position: absolute; top:12px; right:10px; width: 20px; height: 15px; background-position: 0 -20px;}

.color-main{ color:#f4614d;}

.header,
.header input,
.nav {font-family:'Hiragino Sans GB', 'Microsoft YaHei';} 

/* header */
.header{ position:relative; height: 95px;min-width: 990px;}
.container{width: 1200px; margin:0 auto;}

/* header -> logo */
.lay-logo { position: absolute; top: 20px; padding-left:10px; }
.lay-logo a { float:left; }

/* header -> search */
.lay-search { position: absolute; top:40px; left:50%; margin-left:-240px; width: 480px; }
.lay-search .form { display: block; }
.lay-search .textinput { float: left; padding: 0 5px; width: 374px; height: 32px; line-height: normal; line-height: 32px\9; border: 2px solid #e44715; outline: none; }
.lay-search .search-button { float: left;cursor: pointer; width: 86px; height: 36px; border: 0; color: #fff; font-size: 16px; background-color: #e44715; }
.lay-search .search-button:hover { background-color: #cf3e0f; }

/* header -> intro */
.lay-intro a { color: #999; text-decoration: none; }
.lay-intro a:hover { color: #f4614d; }
.lay-intro .intro-login { float: right; margin-right: 10px; line-height: 39px; color: #999; }
.lay-intro .intro-login a { margin-left: 5px; }
.lay-intro .intro-menu { float: right; display: inline; }
.lay-intro .intro-menu .mod-item,
.lay-intro .intro-menu .mod-menu,
.lay-intro .intro-menu .mod-pipe { float: left; line-height: 39px; color: #ddd; }
.lay-intro .intro-menu .gohome {color:#f4614d;padding: 0 5px;}

/* header -> intro -> menu */
.mod-menu { position: relative; }
.mod-menu .vm-hd { position: relative; float:left; z-index: 902; padding: 0 8px; height: 39px; line-height: 39px; border-style: solid; border-color: transparent; border-width: 0 1px 1px; }
.mod-menu.active .vm-hd { border-color: #ccc; border-bottom-color: #fff; }
.mod-menu.active .vm-hd .rotate { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.mod-menu .vm-bd { position: absolute; top: 39px; z-index: 901; background: #fff; padding: 5px 8px; border-style: solid; border: 1px solid #ccc; line-height: 26px; background: #fff; box-shadow: 0 2 10px rgba(0, 0, 0, .12) }
.mod-menu .dropdown { display: none; }
.mod-menu .my-own { width: 70px; }
.mod-menu .my-collect { width: 70px; }
.mod-menu .my-seller {width: 90px;}

/* header -> intro -> mini-cart */
.mini-cart a { color: #999; }
.mini-cart { width: 300px !important; }
.mini-cart dd { float: left; display: inline; }
.mini-cart-list dl { padding: 8px 0; border-bottom: 1px solid #eee; }
.mini-cart-list dd { height: 50px; }
.mini-cart-list .vm-info { width: 160px; overflow:hidden; line-height: 1.5; padding: 0 10px; word-break: break-all; }
.mini-cart-list .vm-price .sum { color: #f4614d; font-weight: bold; }
.mini-cart-total { padding-top: 10px; }
.mini-cart-total .vm-total { color: #f4614d; }
.mini-cart-total .vm-bill { float: right }
.mini-cart-total .vm-bill a { display: inline-block; vertical-align: middle; zoom: 1; padding: 0 10px; height: 25px; line-height: 25px; color: #fff; background: #f40; -webkit-border-radius: 2px; border-radius: 2px; }

/* nav */
.nav { height: 40px; background-color: #e44715; min-width: 990px;}
.nav-cate { float: left; width: 240px; background: #fff;cursor: pointer}
.nav-menu { float: left; position: relative; }
.nav-menu ul li { float: left; line-height: 40px; color: #eb744f;display: inline;}
.nav-menu li.submenu a.item{float: left;display: inline;}
.nav-menu ul .current { background: #cf3e0f;}
.nav-menu ul .current a{z-index: 60;}
.nav-menu ul li a { display: block; position: relative; margin-left: -1px; text-align: center; padding: 0 18px; font-size: 14px; color: #fff; text-decoration: none; }
.nav-menu ul a.item:after { content: ''; position: absolute; width: 1px; height: 12px; background: #eb744f; top: 15px; left: 0; }
.nav-menu ul a.item:hover:after { background: #cf3e0f; }
.nav-menu ul li.current a.item,.nav-menu > ul > li > a:hover { text-decoration: none; background-color: #cf3e0f; z-index: 100}
.nav-menu ul ul{float: left;display: inline;}
.nav-menu ul ul a,.nav-menu ul ul a:visited{color:#F5BEAF;font-size: 12px;}
.nav-menu ul ul a:hover{color:#fff;}
.nav-menu .dropdown {
    position: absolute;
    top:40px;
    left:0;
    width: 960px;
    height: 35px;
    z-index: 299;
    background: #fff;
    -webkit-box-shadow: 4px 4px 2px -2px #c5c5c5;
    -moz-box-shadow: 4px 4px 2px -2px #c5c5c5;
    box-shadow: 4px 4px 2px -2px #c5c5c5;
}
.nav-menu .index .dropdown{
    -webkit-box-shadow: 0px 0px 0px 0 #fff;
    -moz-box-shadow: 0px 0px 0px 0 #fff;
    box-shadow: 0px 0px 0px 0 #fff;
}
.nav-menu .dropdown li {float: left;margin-left:10px;}
.nav-menu .dropdown li a {font-size:12px; line-height: 35px;  padding-right:12px; color: #7a7a7a;}
.nav-menu .dropdown li a:hover {background:#fff;color: #f4614d;}
.nav-menu img.navHot{width:16px;height: 16px;margin-top: 2px;}

/* 全部分类侧拉菜单样式 */
.nav-cate { float: left; width: 240px; background: #fff;position: relative;z-index: 300 }
.nav-cate h2 { font-size: 16px; font-weight: normal; line-height: 40px; padding-left: 60px; background: url(/img/mall/index/navBg.png) 23px 12px no-repeat; position: relative; }
.nav-cate .category {
    border-left: 1px #dedede solid;
    position: absolute;
    height: 380px;
    z-index: 302;
    background: #fff;
    -webkit-box-shadow: 3px 3px 2px -2px #c5c5c5;
    -moz-box-shadow: 3px 3px 2px -2px #c5c5c5;
    box-shadow: 3px 3px 2px -2px #c5c5c5;
}
.index .category{
    border-left-color: transparent;
}
.nav-cate .category .cate { width: 240px; height: 36px; margin-top: 1px; }
.cate .mod-hd { position: relative; height: 36px; overflow: hidden; }
.cate .mod-hd a { display: block; line-height: 36px; padding-left: 20px; font-size: 16px; color: #666; text-decoration: none; }
.cate.current .mod-hd {background: #e44715;}
.cate.current .mod-hd a { color:#fff !important;}
.cate.current .mod-hd:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 9px;
    right: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}
.cate .mod-hd a span { margin-right: 20px; }
.cate .mod-hd ul { position: absolute; left: 110px; top: 0; }
.cate .mod-hd ul li {float: left;}
.cate .mod-hd ul a { font-size: 12px; color: #959595; padding-left: 0; margin-right: 10px; }
.cate .mod-bd { display: none; position: absolute; top: 0; left: 239px; z-index:303; width: 150px; height: 380px; background: #fff; border: 1px solid #eaeaea; -webkit-box-shadow: 4px -2px 2px -2px #ddd; -moz-box-shadow: 4px -2px 2px -2px #ddd; box-shadow: 4px -2px 2px -2px #ddd; /* -webkit-transition: display .1s;  */ }
.cate .mod-bd a { color: #666; }
.cate .mod-bd .vm-cap { height: 50px; background: #eaeaea; padding-left: 15px; }
.cate .mod-bd .vm-cap a { line-height: 50px; font-size: 16px; text-decoration: none; }
.cate .mod-bd .vm-cont {padding:5px 5px 5px 15px;}
.cate .mod-bd .vm-cont a{ display:inline-block; margin-right:12px;line-height: 2.2; white-space: nowrap;}
.cate .mod-bd ul { position: absolute;bottom: 10px;}
.cate .mod-bd li {margin-top: 10px;}
.cate .mod-bd li img { margin:0 5px 0 25px}

/*西瓜添加 置顶banner*/
.stick-ban{width: 100%;position: relative;z-index: 1;}
.stick-ban .stick-cont{width: 1200px;margin:0 auto;position: relative;}
.stick-ban .sml-stick{display: none;}
.stick-ban .big-stick{display: inline-block;}
.stick-ban a{position: relative;z-index: 1;}
.stick-ban a.close-stick{width: 20px;height: 20px;display: block;position: absolute;right:5px;top:5px;z-index: 100;background: url(about:blank);}

@media (max-width: 1224px) {
  .container ,.wrap-all{ width: 990px !important; margin: 0 auto; }
  .nav .nav-menu .dropdown {width: 750px;}
}