/**
 * 初始化HTML标签及常用类型
 * @kivenhan
 * www.shopnc.net
 * Apr-01-2012
 **/

/* ===============
 * 重新定义Html元素
 * =============== */
html{overflow-x:hidden;}
body { background: none repeat scroll 0 0 #FFF; color: #333333; font: 12px/1  Arial,'Times New Roman','Microsoft YaHei',SimHei, sans-serif;}
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input { padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td { font-size: 1em; font-style: normal; font-weight: normal;}
strong { font-weight: bold;}
ul, ol { list-style: none outside none;}
fieldset, img { border: medium none; border: 0px;  padding: 0px; margin: 0px;vertical-align: top;}
caption, th {  text-align: left;}
table { border-collapse: collapse; border-spacing: 0;}
input, select, textarea { font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
a { outline: medium none;color: #666;text-decoration: none;}
s{text-decoration: none;}
a:hover{color:#f4614d;text-decoration: none;}
a.mark{color: #f4614d;}
a.mark:hover {color:#f4614d;}
i, cite, em { font-style: normal;}

input,button,select,textarea{outline:none}
html{ -webkit-text-size-adjust: none;}
html {min-height:101%; }
time { color: #777;}

/* ==========================
 * 为旧版本浏览器格式化Html5元素
 * ========================== */
article, aside, dialog, footer, header, section, footer, nav, figure, menu { display:block; }

/*文字排版
******************************/
.f12 { font-size:12px;}
.f14 { font-size:14px;}
.f16 { font-size:16px;}
.f18 { font-size:18px;}
.f20 { font-size:20px;}
.f22 { font-size:22px;}
.fb { font-weight:bold;}
.fn { font-weight:normal;}
.t2 { text-indent:2em;}
.lh150 { line-height:150%}
.lh180 { line-height:180%}
.lh200 { line-height:200%}
.unl { text-decoration:underline;}
.no_unl { text-decoration:none;}
.tdlt{text-decoration:line-through;}
.noborder { border-style:none!important; border-width: 0!important ;}

/*定位
******************************/
.tl { text-align:left !important;}
.tc { text-align:center !important; }
.tr { text-align:right !important;}
.bc { margin-right:auto ;margin-left:auto;}
.fl { float:left; display:inline;}
.fr { float:right !important; display:inline;}
.cb { clear:both;}
.cl { clear:left;}
.cr { clear:right;}
.vm { vertical-align: middle;}
.vt { vertical-align: top;}
.pr { position:relative;}
.pa { position:absolute;}
.abs-right { position:absolute; right:0;}
.zoom { zoom:1}
.hide { visibility:hidden;}
.none { display:none;}
.clear { clear: both; height: 0; font-size: 0; line-height:0; }
.oh{overflow: hidden;}

.clearfix:before,.clearfix:after{ content: "."; display: block; height: 0; visibility: hidden; }
.clearfix:after{clear: both;}
.clearfix {*zoom: 1;} /* IE < 8 */

/*组件样式*/

a.red_but,a.red_but:visited{background-color: #F6614B;color:#fff;display: inline-block;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;font-weight: bold;border:1px solid #F6614B;height: 28px;line-height: 28px;padding:0 20px;font-size: 12px;font-family: '微软雅黑';text-decoration: none;}
a.red_but:hover,a.red_but:active{background-color: #E34B35;color:#fff;border:1px solid #E34B35;}
a.pink_but,a.pink_but:visited{background-color: #FF8E7E;color:#fff;display: inline-block;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;font-weight: bold;border:1px solid #FF8E7E;height: 28px;line-height: 28px;padding:0 20px;font-size: 12px;font-family: '微软雅黑';text-decoration: none;}
a.pink_but:hover,a.pink_but:active{background-color: #EE7969;color:#fff;border:1px solid #EE7969;}
a.blue_but,a.blue_but:visited{background-color: #78C9C4;color:#fff;display: inline-block;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;font-weight: bold;border:1px solid #78C9C4;height: 28px;line-height: 28px;padding:0 20px;font-size: 12px;font-family: '微软雅黑';text-decoration: none;}
a.blue_but:hover,a.blue_but:active{background-color: #51B0AA;color:#fff;border:1px solid #51B0AA;}
a.white_but,a.white_but:visited{background-color: #F8F8F8;color:#333;display: inline-block;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;font-weight: bold;border:1px solid #ccc;height: 28px;line-height: 28px;padding:0 20px;font-size: 12px;font-family: '微软雅黑';text-decoration: none;}
a.white_but:hover,a.white_but:active{background-color: #FFFFFF;color:#333;border:1px solid #ccc;}
a.but_h23,a.but_h23:visited{height: 21px;line-height: 21px;padding:0 10px;}
a.but_h25,a.but_h25:visited{height: 23px;line-height: 23px;padding:0 10px;}
a.but_h28,a.but_h28:visited{height: 26px;line-height: 26px;padding:0 10px;}
a.but_h40,a.but_h40:visited{height: 38px;line-height: 38px;font-size: 14px;}
a.but_h45,a.but_h45:visited{height: 43px;line-height: 43px;font-size: 18px;}

input.red_but,input.red_but:visited{background-color: #F6614B;color:#fff;display: inline-block;border:none;cursor: pointer;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;font-weight: bold;border:1px solid #F6614B;height: 28px;line-height: 28px;padding:0 20px;font-size: 12px;font-family: "微软雅黑";_padding:0;*+padding:0;}
input.red_but:hover,input.red_but:active{background-color: #E34B35;color:#fff;border:1px solid #E34B35;}
input.pink_but,input.pink_but:visited{background-color: #FF8E7E;color:#fff;display: inline-block;border:none;cursor: pointer;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;font-weight: bold;border:1px solid #FF8E7E;height: 28px;line-height: 28px;padding:0 20px;font-size: 12px;font-family: "微软雅黑";_padding:0;*+padding:0;}
input.pink_but:hover,input.pink_but:active{background-color: #EE7969;color:#fff;border:1px solid #EE7969;}
input.blue_but,input.blue_but:visited{background-color: #78C9C4;color:#fff;display: inline-block;border:none;cursor: pointer;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;font-weight: bold;border:1px solid #78C9C4;height: 28px;line-height: 28px;padding:0 20px;font-size: 12px;font-family: "微软雅黑";_padding:0;*+padding:0;}
input.blue_but:hover,input.blue_but:active{background-color: #51B0AA;color:#fff;border:1px solid #51B0AA;}
input.white_but,input.white_but:visited{background-color: #F8F8F8;color:#333;display: inline-block;border:none;cursor: pointer;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;font-weight: bold;border:1px solid #ccc;height: 28px;line-height: 28px;padding:0 20px;font-size: 12px;font-family: "微软雅黑";_padding:0;*+padding:0;}
input.white_but:hover,input.white_but:active{background-color: #FFFFFF;color:#333;border:1px solid #ccc;}
input.but_h23,input.but_h23:visited{height: 21px;line-height: 21px;padding:0 10px;}
input.but_h25,input.but_h25:visited{height: 23px;line-height: 23px;padding:0 10px;}
input.but_h28,input.but_h28:visited{height: 26px;line-height: 26px;padding:0 10px;}
input.but_h40,input.but_h40:visited{height: 38px;line-height: 38px;font-size: 14px;}
input.but_h45,input.but_h45:visited{height: 43px;line-height: 43px;font-size: 18px;}


/*长度高度
******************************/
.w10 { width:10px;}
.w20 { width:20px;}
.w30 { width:30px;}
.w40 { width:40px !important;}
.w50 { width:50px !important;}
.w60 { width:60px !important;}
.w65 { width:65px;}
.w70 { width:70px;}
.w80 { width:80px;}
.w90 { width:90px;}
.w96 {width: 96px;}
.w100 { width:100px;}
.w110 { width:110px;}
.w120 { width:120px;}
.w150 { width:150px;}
.w160 { width:160px;}
.w180 { width:180px;}
.w200 { width:200px !important;}
.w210 { width:210px !important;}
.w230 { width:230px;}
.w240 { width:240px;}
.w250 { width:250px !important;}
.w270 { width:270px;}
.w300 { width:300px !important;}
.w340 { width:340px;}
.w380 { width:380px;}
.w400 { width:400px!important;}
.w450 { width:450px!important;}
.w500 { width:500px;}
.w530 { width:530px;}
.w600 { width:600px !important;}
.w700 { width:700px;}
.w780 { width: 780px;}
.w800 { width:800px;}
.w208 {width: 208px;}



.w { width:100%}
.h50 { height:50px !important;}
.h80 { height:80px;}
.h100 { height:100px !important;}
.h200 { height:200px;}
.h { height:100%}
.size30 { width: 30px; height: 30px;}
.size32 { width: 32px; height:32px;}
.size36 { width: 36px; height:36px;}
.size40 { width: 40px; height:40px;}
.size60 { width: 60px; height:60px;}
.size70 { width: 70px; height: 70px;}
.size72 { width: 72px; height: 72px;}
.size75 { width: 75px; height: 75px;}
.size80 { width: 80px; height:80px;}
.size90 { width: 90px; height:90px;}
.size100 { width: 100px; height: 100px;}
.size110 { width: 110px; height: 110px;}
.size120 { width: 120px; height: 120px;}
.size128 { width: 128px; height: 128px;}
.size142-80 { width: 142px; height: 80px;}
.size160 { width: 160px; height: 160px;}
.size160-48 { width: 160px; height: 48px;}
.size150 { width: 150px; height: 150px; }
.size160 { width: 160px; height: 160px;}
.size184 { width: 184px; height: 114px; }
.size190 { width: 190px; height: 190px;}
.size196 { width: 196px; height: 196px;}
.size233 { width: 233px; }
.size250 { width: 250px; height: 250px;}
.size310 { width: 310px; height:310px;}
.size400 { width: 400px; height:400px;}
.size-brand-logo { width: 88px; height: 42px;}

/*边距
******************************/
.m10 { margin:10px;}
.m15 { margin:15px;}
.m30 { margin:30px;}
.mt5 { margin-top:5px !important;}
.mt10 { margin-top:10px !important;}
.mt15 { margin-top:15px !important;}
.mt20 { margin-top:20px !important;}
.mt30 { margin-top:30px !important;}
.mt50 { margin-top:50px !important;}
.mt100 { margin-top:100px !important;}
.mb5 { margin-bottom:5px !important;}
.mb10 { margin-bottom:10px !important;}
.mb15 { margin-bottom:15px !important;}
.mb20 { margin-bottom:20px !important;}
.mb30 { margin-bottom:30px !important;}
.mb50 { margin-bottom:50px !important;}
.mb100 { margin-bottom:100px !important;}
.ml5 { margin-left:5px !important;}
.ml10 { margin-left:10px !important;}
.ml15 { margin-left:15px !important;}
.ml20 { margin-left:20px !important;}
.ml30 { margin-left:30px !important;}
.ml50 { margin-left:50px !important;}
.ml100 { margin-left:100px !important;}
.ml200 { margin-left:200px !important;}
.mr5 { margin-right:5px !important;}
.mr10 { margin-right:10px !important;}
.mr15 { margin-right:15px !important;}
.mr20 { margin-right:20px !important;}
.mr30 { margin-right:30px !important;}
.mr50 { margin-right:50px !important;}
.mr100 { margin-right:100px !important;}

/*边距
******************************/
.p10 { padding:10px;}
.p15 { padding:15px;}
.p30 { padding:30px;}
.pt5 { padding-top:5px !important;}
.pt10 { padding-top:10px !important;}
.pt15 { padding-top:15px !important;}
.pt20 { padding-top:20px !important;}
.pt30 { padding-top:30px !important;}
.pt50 { padding-top:50px !important;}
.pt100 { padding-top:100px !important;}
.pb5 { padding-bottom:5px !important;}
.pb10 { padding-bottom:10px !important;}
.pb15 { padding-bottom:15px !important;}
.pb20 { padding-bottom:20px !important;}
.pb30 { padding-bottom:30px !important;}
.pb50 { padding-bottom:50px !important;}
.pb100 { padding-bottom:100px !important;}
.pl5 { padding-left:5px !important;}
.pl10 { padding-left:10px !important;}
.pl15 { padding-left:15px !important;}
.pl20 { padding-left:20px !important;}
.pl30 { padding-left:30px !important;}
.pl50 { padding-left:50px !important;}
.pl100 { padding-left:100px !important;}
.pr5 { padding-right:5px !important;}
.pr10 { padding-right:10px !important;}
.pr15 { padding-right:15px !important;}
.pr20 { padding-right:20px !important;}
.pr30 { padding-right:30px !important;}
.pr50 { padding-right:50px !important;}
.pr100 { padding-right:100px !important;}

/*div宽高局中
******************************/
.cmark{color: #F6614B;}
.c333{color: #333;}
.c666{color: #666;}
.c999{color: #999;}

/*div宽高局中
******************************/
.thumb , .logo { display:table-cell; vertical-align:middle; text-align:center;}
.thumb i , .logo i { *display:inline-block; *height:100%; *vertical-align:middle; }
.cart-goods-pic .thumb i{display: none;}
.thumb img , .logo img { *vertical-align:middle; }

.thumb-cut { overflow: hidden;}
.thumb-cut a { text-align: center; float: left; position:relative; overflow:hidden; }
.thumb-cut img { vertical-align: text-top; float: none; position:relative;}


#page { width: 100%; height: 39px; border-bottom: 1px solid #dedede; background-color: #f8f8f8; }
.wrap-all {width: 1200px;margin: 0 auto;}
.warp-all {  margin: 0 auto;}
.warp_all_z{width: 990px;}

/*==============================*/
/* 顶部导航条样式 */
/*==============================*/
#topNav { height: 39px; position: relative; z-index:998;color:#999; line-height: 39px;}
#topNav a { color: #999;text-decoration: none;}
#topNav a.mark{ color: #f4614d;}
#topNav a:hover,
#topNav .mark a:hover { color: #f4614d;text-decoration: none;}
#topNav .user-entry { display: block; width: 550px; height: 39px; float: left; margin:0; overflow: hidden;}
.user-entry dt {display: block; float: left; padding: 0 5px 0 20px;}
.user-entry dt span { font-weight: 600; padding: 0 5px;}
.user-entry dd {display: block; float: left; padding: 0 4px;}
.user-entry dd a {padding: 0 2px;}

#topNav a.red_but,#topNav a.red_but:visited{background-color: #F6614B;color:#fff;display: inline-block;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;font-weight: bold;border:1px solid #F6614B;height: 28px;line-height: 28px;padding:0 6px;font-size: 12px;font-family: '微软雅黑';text-decoration: none;}
#topNav a.red_but:hover,#topNav a.red_but:active{background-color: #E34B35;color:#fff;border:1px solid #E34B35;}

#topNav .quick-menu {float: right;display: inline;}
.quick-menu li { float: left; margin-left: -1px; position: relative; z-index: auto;}

.quick-menu li.last { background: none transparent scroll repeat 0% 0%}
.quick-menu li a { line-height:39px; background-color:transparent;  padding: 0px 5px; display: block;}

.quick-menu .menu { }
.quick-menu .menu-hd {
    line-height:38px; height: 38px;
    padding:0px 17px 0px 5px; margin: 1px 1px 0 1px;
    position: relative; z-index: 10002; cursor: pointer;}
.quick-menu .menu-hd i { font-size: 0px; line-height: 0; width: 0px; height: 0px; border-width: 4px; border-color: #F4614C transparent transparent transparent; border-style:solid dashed dashed dashed; position: absolute; top: 19px; right: 5px; -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}
.quick-menu .menu:hover .menu-hd {
    background:#FFF; margin: 0 0 -1px 0; border: #CCC 1px solid; border-bottom-color: #fff;}
.quick-menu .menu:hover .menu-hd i { top: 17px; FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%;}
.quick-menu .menu-bd { background: #fff; display: none; border: #CCC 1px solid; position: absolute; z-index: 10001; top: 39px; overflow:hidden; zoom:1; }
.quick-menu .menu-bd .loading { margin: 10px auto 10px 48%; }
.quick-menu .menu:hover .menu-bd { display: block;}

.quick-menu .user-center .menu-hd { width: 48px; padding-top: 1px; _padding-top: 1px;}
.quick-menu .user-center .menu-bd { width: 92px; left:0px; }
.quick-menu .user-center ul{ padding: 8px; float: left;}
.quick-menu .user-center ul li { background-image: none;}
.quick-menu .user-center ul li a { background-image: none; line-height: 20px; width:76px; height:20px; float: left; clear: both; padding: 0 0 2px 0; margin: 0;}

.quick-menu .seller-center .menu-hd { width: 48px; padding-top: 1px; _padding-top: 1px;}
.quick-menu .seller-center .menu-bd { width: 92px; right:0px; }
.quick-menu .seller-center ul{ padding: 8px; float: left;}
.quick-menu .seller-center ul li { background-image: none;}
.quick-menu .seller-center ul li a { line-height: 20px; background-image: none; width:76px; height:20px; float: left; clear: both; padding: 0 0 2px 0; margin: 0;}

.quick-menu .cart .menu-hd {display: block; float: left; padding-top: 1px; _padding-top: 1px; padding-left: 25px;/*width: 95px;*/}
.quick-menu .cart .menu-hd s { background: url(../images/common/common.png) no-repeat scroll 0px 0px; width: 19px; height: 19px; position: absolute; top: 9px; *top: 8px; left: 2px;}
.quick-menu .cart .menu-hd strong { font-weight:600; color:#F60; padding: 0 3px;}
.quick-menu .cart .menu:hover .menu-hd { }
.quick-menu .cart .menu-bd { width: 300px; left: 0px;line-height: 20px;}
.quick-menu .cart .order a { padding: 0;line-height:1.5;}
.quick-menu .cart .order table { width: 285px; padding:0; margin: 0;}
.quick-menu .cart .order td { padding:5px; border-bottom: solid 1px #F1F1F1;}
.quick-menu .cart .order td.picture { height:60px; width: 40px;}
.quick-menu .cart .order td.name { line-height: 18px; width: 200px; height:36; padding:5px 5px 9px 5px;}
.quick-menu .cart .order td.price { height:40px; width: 74px;}
.quick-menu .cart .order td.price p { line-height: 20px; color: #F30; height:20px; text-align:right; }
.quick-menu .cart .order td.no-border { border:none;}
.quick-menu .cart .order td span.all { width:200px; float:left;}
.quick-menu .cart .order td span.all strong { font-weight: 600; padding: 0 4px; color: #F30;}
.quick-menu .cart .order td span.button a, .quick-menu .cart .no-order .button { line-height: 24px; color: #FFF; background-color: #F4614C; text-align: center; display: block; float: right; padding: 0 10px; margin: 0px; border-radius: 4px;}
.quick-menu .cart .no-order , .quick-menu .cart .order { padding: 8px;}
.quick-menu .cart .no-order span { line-height:24px; color:#999; display:block; height:24px;}


.quick-menu .favorite .menu-hd { width:48px;}
.quick-menu .favorite .menu-bd { width: 80px; left:0px; }
.quick-menu .favorite ul{ padding: 8px; float: left;}
.quick-menu .favorite ul li { background-image: none;}
.quick-menu .favorite ul li a { background-image: none; line-height: 20px;  width:60px; height:20px; float: left; clear: both; padding: 0 0 2px 0; margin: 0;}
.quick-menu li.links { background:url(../images/hbg.png) no-repeat -119px 6px;}
.quick-menu .links .menu-hd { width: 48px; padding-top: 1px; _padding-top: 1px;}
.quick-menu .links .menu-db { display: block;}
.quick-menu .links .menu-bd { float: left; right:0px; }
.quick-menu .links .menu-bd ul{ padding:8px; float: left; }
.quick-menu .links .menu-bd ul li { background-image: none;}
.quick-menu .links .menu-bd ul li a { line-height: 20px; background: url(../images/hbg.png) no-repeat 0px -530px; white-space:nowrap; width: 64px; height: 20px; clear: left; padding: 0 0 2px 12px; margin: 0; overflow: hidden;}

.warning { color: #C00; background-color: #FFC; width: 98%; clear: both; padding: 6px; margin: 6px auto; border: 1px dashed #F90;}
.warning label { clear: both; line-height: 20px;}


#footer { font-size: 12px !important; line-height: 12px; color: #acacac; text-align: center; display: block; width: 1200px; clear: both; margin: 12px auto 0px auto; padding-bottom: 30px; overflow: hidden;}
#footer .botNav{overflow: hidden;*zoom:1;padding: 0 40px 24px 40px;}
#footer dl{float: left;display:inline-block;text-align: left;width: 90px;padding-right: 120px;}
#footer .bnr{width: 60px;padding: 0;}
#footer dt{color: #000;font-size: 14px;line-height: 32px;font-family: '微软雅黑';}
#footer dd{color: #999;line-height: 24px;font-family: '宋体';}
#footer dd a{color: #acacac;padding: 0;}
/*#footer p { color: #606060; word-spacing: 5px; padding: 0px 0px 15px 0px;}*/
#footer .botLink{border-top: 1px solid #e8e8e8;padding-top: 30px;}
#footer a {padding:0 20px 0 0;color:#606060;}
#footer a:hover {color:#F4614C;}
#footer .vol { font-family: Verdana, Geneva, sans-serif; font-weight: 600; font-style: oblique; font-size: 12px;}
#footer .vol .b { color: #00F;}
#footer .vol .o { color: #F60;}
#footer .vol em { font-family: Georgia, Arial;  font-weight: 600; font-style: italic; color: #000; margin-left: 2px;}
/* tip提示 */
.tip-yellowsimple { color:#000; background-color:#fff9c9; text-align:left; min-width:50px; max-width:300px; border:1px solid #c7bf93; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; z-index:1000; padding:6px 8px;}
.tip-yellowsimple .tip-inner { font:12px/16px arial,helvetica,sans-serif;}
.tip-yellowsimple .tip-arrow-top { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat; width:9px; height:6px; margin-top:-6px; margin-left:-5px; top:0; left:50%;}
.tip-yellowsimple .tip-arrow-right { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -9px 0; width:6px; height:9px; margin-top:-4px; margin-left:0; top:50%; left:100%;}
.tip-yellowsimple .tip-arrow-bottom { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -18px 0; width:9px; height:6px; margin-top:0; margin-left:-5px; top:100%; left:50%;}
.tip-yellowsimple .tip-arrow-left { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -27px 0; width:6px; height:9px; margin-top:-4px; margin-left:-6px; top:50%; left:0;}



/* 调试模式 */
.trace { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color: #000; line-height: 18px; background:#FFF299; padding:8px; margin:8px; border:1px dashed silver;}
.trace fieldset { margin:8px;}
.trace fieldset legend { font-size: 16px; color: #000; font-weight:bold;}
.trace fieldset div { overflow:auto; max-height: 300px; _height: 300px; text-align:left;}

.footBoUL .HapLogo,.footBoUL .HuNanLogo,.footBoUL .xinComp,.footBoUL .xinInter,
.footBoUL a.HapLogo:hover,.footBoUL a.HuNanLogo:hover,.footBoUL a.xinComp:hover,.footBoUL a.xinInter:hover{background:url(../images/headFtBg.gif);}
.footBott{height:127px;background:url(../images/footBg.gif) repeat-x;}
.footBoUL{width:1000px;padding:15px 100px;margin:0 auto;overflow:hidden;}
.footBoUL li{float:left;margin:0 10px;_margin:0 15px 0 5px;}
.footBoUL li a{display:block;text-indent:-9999px;}
.footBoUL li p{color:#a0a0a0;font-family:"Arial";line-height:18px;}
.footBoUL .HapLogo{width:140px;height:48px;background-position:-280px -90px;}
.footBoUL a.HapLogo:hover{background-position:-280px -90px;}
.footBoUL .HuNanLogo{width:54px;height:48px;background-position:-430px -87px;}
.footBoUL a.HuNanLogo:hover{background-position:-430px -87px;}
.footBoUL .xinComp{width:120px;height:88px;background-position:0 -50px;}
.footBoUL a.xinComp:hover{background-position:0 -50px;}
.footBoUL .xinInter{width:115px;height:88px;background-position:-150px -50px;}
.footBoUL a.xinInter:hover{background-position:-150px -50px;}

/*在线客服*/
*html, *html body{background-image:url(about:blank);background-attachment:fixed;}
.c_online{position:fixed;_position:absolute;right:0;bottom:10px;_top:expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight - 10);z-index:900;width: 1px;overflow: visible;font-family: 宋体;font-size: 12px;}
/*.onl_select{display: none;}*/
.onl_Link{display: none;}
.onl_Link a{background-color: #eaeaea;height: 23px;color: #666;text-align: center;line-height: 23px;margin-top: 1px;}
.onl_select{width: 40px;position: absolute;right: 10px;bottom: 0;}
.c_online a.onl_tSml{width: 19px;float: right;display: inline;}
.onl_select a.c_onlineQQ{height: 51px;margin-top: 3px;clear:both;}
.onl_Link a{background-color: #d9d9d9;}
.onl_Link a:hover{background-color: #f60;color:#fff;}
.onl_bigBut a.fLink{
    display: block;
    height: 40px;
    width:30px;
    padding:0px 5px;
    line-height: 15px;
    text-align: center;
    border: 1px solid #ccc;
    background: url(../images/common/online.png) #eee no-repeat;
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -ms-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
}
.onl_bigBut a.fLink:hover{background: none;background-color: #999;color:#fff;}
.onl_bigBut a.fLink span{display: block;padding:5px 0 4px;/*border-bottom:1px solid #F58777;*/}
.onl_bigBut a.fLink s{visibility: hidden;}
.onl_bigBut a.fLink:hover s{visibility: visible;}
.onl_bigBut a.onl_advice{background-position: 0 -40px;border-radius: 2px;}
.onl_bigBut a.onl_cumService{
    position: relative;
    display: none;
    padding: 30px 4px 0;
    /*background-position: 0 -160px;*/
    border-radius: 2px;
    color:#E34B35;
    border:1px solid #eee;
    background: url(../images/common/online.png) 0 -160px no-repeat #f8f8f8;
}
.onl_bigBut a.service-online {
    background-image: none;
}
.onl_bigBut a.onl_cumService:hover{
    background-color: #fff;
    color:#E34B35;
}
.onl_bigBut a.service-online .icons-service {
    position: absolute;
    left: 4px;
    top: 5px;
    width: 30px;
    height: 30px;
    background: url(../images/common/online.png) -5px -168px no-repeat;
}
.onl_bigBut a.onl_cumService span{display: block;padding:5px 0 4px;}
.onl_bigBut a.onl_express{background-position: 0 -120px;}
.onl_bigBut li.to_top_li{width: 40px;height: 40px;margin-top: 10px;}
.onl_bigBut a.onl_btoTop{background-position: 0 0px;margin-bottom: 5px;border-radius: 2px;display: block;visibility: hidden;}

/*  .onl_hover{position: absolute;right: 57px;top: 0;width: 200px;border:1px solid #f60;background: #fff;display: none;}
.onl_hover p.onl_hover_t{height: 30px;line-height: 30px;font-size: 14px;font-weight: bold;text-align: center;color: #fff;background: #f60;}
.onl_detail dl { padding: 10px; overflow:hidden;}
.onl_detail dt { line-height: 20px; font-weight: 600; display: block;}
.onl_detail dd { color: #555; margin-left: 16px; clear:both; padding: 4px 0;}
.onl_detail dd span { line-height: 22px; margin: 0 6px 0 0;}
.onl_detail dd img { vertical-align: middle;}
.onl_detail dd p { line-height: 20px;}
*/

/*  意见反馈*/
a.adviceBut{background: url(http://www.kadang.com/kadang/themes/v5.0/img/onlinePayEditBtn.png) no-repeat right 0;display: block;margin: 20px 0 0 12px;color: #666;padding-right:3px;font-size: 14px;text-align: center;line-height: 30px;height: 30px;width: 100px;float:left;cursor: pointer;_cursor:hand;}
a.adviceBut span{background: url(http://www.kadang.com/kadang/themes/v5.0/img/onlinePayEditBtn.png) no-repeat 0 0;display: block;height: 30px;}
a.adviceBut:hover,a.adviceBut:visited{color: #666;}
a.adviceClose{float: none;margin: 50px auto 0;}
.adviceText{width: 410px;height: 120px;overflow-x: hidden;overflow-y:scroll;resize: none;border:1px solid #D9D9D9;color: #aaa;padding:5px;}
.adviceQQ{height: 22px;width: 415px;border:1px solid #D9D9D9;color:#aaa;padding-left: 5px;}
.adviceDialog,
.adviceOkDialog{line-height: 1.5;}
.adviceDialog .dialog_content,
.adviceOkDialog .dialog_content{padding:20px !important;overflow: hidden;}
a.onlineQQ{margin: 20px 12px 0 0;float:right;line-height:30px;color:blue}



/*==============================*/
/* 头部区域 */
/*==============================*/
#topHeader { width: 1200px; margin: 0 auto; position: relative; z-index: 99;overflow: hidden;}
#topHeader .site-logo {float: left;margin:20px 0 10px 0;width: 265px;height: 64px;display: inline;}
/*==y_header添加广告位===*/

/* 头部搜索Tab切换样式 */
#search {width: 900px;margin-top: 20px;display: inline;float: left;margin-left: 35px;}
#search .details {z-index: 1;float: left;display: inline;}
#search form .textinput, #search .form .textinput { font-family: 'Tahoma', 'Arial'; font-size: 12px; line-height:28px; color: #555; text-indent: 4px; display: inline; width:390px; height:28px; padding: 0; margin: 0;float: left; border: 3px solid #e44715;}
#search form .search-button, #search .form .search-button { line-height: 1000px; background: url(../images/common/common.png) #e44715 no-repeat scroll 0px -50px; width:86px; height:34px; float: left; padding: 0; border: 0; overflow: hidden; cursor: pointer;display: inline;margin-left: 0;}
#search form .search-button:hover{background-color: #E34B35;}
#search .form .search-button:hover{background-color: #E34B35;}
#search .topKWord{padding-top: 2px;tfont-size: 12px;line-height: 1.5;color: #999;font-weight: normal;clear: both;}
#search .topKWord li{float: left;display: inline;margin-right: 10px;}

/*简版头部*/
header.simple_header{width: 100% !important;border-bottom: 1px solid #e8e8e8;}
header.simple_header .site-logo{margin:0 0 0 25px !important;}
header.simple_header #search{margin-top: 15px;}
header.simple_header #search .textinput{width: 380px;}

/* 主导航条样式 */
#navBar {background-color:#e44715; width:100%; height: 37px; padding: 0; margin: 0 auto;border-bottom: 2px solid #c13b11;}
.navBar_inner{ width:1200px; margin:0 auto  }
#navBar ul.nc-nav-menu {height: 38px; overflow: hidden;float:left;display:inline;/*margin-left: 15px;*/}
#navBar ul.nc-nav-menu li { float: left;}
#navBar ul.nc-nav-menu li a,
#navBar ul li.current a{float: left; position:relative;height:38px;}
#navBar ul.nc-nav-menu li a {font-size: 16px;line-height: 38px;padding:0 15px;font-weight: normal;color: #fff;}
#navBar ul.nc-nav-menu li a:hover {background-color: #c13b11;}
#navBar div.pointprod { font-size: 14px; font-weight: 600; line-height: 24px; background: url(../images/hbg.png) no-repeat 0px -490px; display: block; width: 69px; height: 24px; padding: 2px 3px 4px 32px; position: absolute; z-index: auto; top: 3px; right: 3px;}
}
#navBar div.pointprod a { color: #60332C;}
#navBar div.pointprod a:hover { color: #C00;}
#navBar .go_nav_btn{ width:89px; height:35px; float:right;margin-left:10px;}

/* 全部分类侧拉菜单样式*/
#navBar #all-category { position: relative; z-index:100;float: left;display: inline;}
#navBar #all-category .title {font-size: 16px; height: 38px; _height: 39px; font-weight:600; line-height: 37px; position: relative; overflow: hidden;float: left; width:238px;border-left:1px solid #eaeaea;border-right: 1px solid #eaeaea;border-top: 1px solid #eaeaea;background: url(/templates/default/images/common/common.png) no-repeat #f8f8f8 20px -185px; margin-bottom: -3px;z-index: 100;}
#navBar #all-category .title a {display: block;padding-left: 60px;background: url(/templates/default/images/common/common.png) no-repeat 200px -210px;color: #333;}
#navBar #all-category .title a:hover {}
#navBar #all-category .title i { display: block;/* background: url(../images/nc_nav.png) no-repeat scroll 0 -200px;*/ _background-image: url(../images/ie6/nc_nav.gif)/*IE6*/; float:right; width: 16px; height: 16px; margin: 10px;}
#navBar #all-category .title:hover i { background-position: -20px -200px;}
#navBar #all-category .category {display:none;position: absolute;background-color: #f8f8f8; top: 37px; left: 0px; z-index: 110; overflow: visible;border:1px solid #eaeaea;border-top: none;width: 238px;}
#navBar #category ul.menu {width: 238px;margin-top:2px;position: relative;z-index: 100;}
#navBar #category li {_float: left;*+float: left;width: 100%;}
#navBar #category li.more{ background:#f9f9f9; font-weight:bolder; display:block; }
#navBar #category li.more a { line-height:32px; margin-left:60px; color:#a50102; display:inline; }
#navBar #category li p.c_h3 {position: relative;font-size: 12px;}
#navBar #category li p.c_h3 a {height: 35px;line-height: 35px;color:#666;display: block;font-size: 16px;padding-left: 22px;}
#navBar #category li.cur p.c_h3 {z-index: 100;}
#navBar #category li.cur p.c_h3 a{padding-left: 17px;border-left: 5px solid #e44715;color: #000;}
#navBar #category li.cur p.c_h3 s{display: block;position: absolute;background:url(/img/mall/list/arrow.png) no-repeat -9px -560px;width: 6px;height: 9px;top: 11px;right: 20px;}
#navBar #category li.menu_cats{/*background: url(/templates/default/images/common/menuImg.png) no-repeat;*/}
#navBar #category li.menu_cats.cur{/*background-image: url(/templates/default/images/common/menuHoverImg.png);background-color:#F4624B;*/}
#navBar #category li.more{background:none;}
#navBar #category li#list_350{background-position: 10px -5px;}
#navBar #category li#list_436{background-position: 10px -34px;}
#navBar #category li#list_385{background-position: 10px -68px;}
#navBar #category li#list_344{background-position: 10px -100px;}
#navBar #category li#list_375{background-position: 10px -130px;}
#navBar #category li#list_354{background-position: 10px -162px;}
#navBar #category li#list_375{background-position: 10px -195px;}
#navBar #category li#list_351{background-position: 10px -227px;}
#navBar #category li#list_405{background-position: 10px -260px;}
#navBar #category li#list_10{background-position: 10px -292px;}
#navBar #category li#list_368{background-position: 10px -324px;}
#navBar #category li#list_12{background-position: 10px -355px;}
#navBar #category li#list_13{background-position: 10px -388px;}
#navBar #category .price{height: 39px;line-height: 39px;padding-left: 53px;width:185px;background-color: #F9F9F9;border-top: #eaeaea solid 1px;}
#navBar #category .price input{width: 28px;height: 19px;;line-height: 19px;}


#navBar .cat-menu { background: #fff; display: none; width: 416px; position: absolute; top: 0px; left: 239px;_left:238px;height: 100%;_height:500px;_border-left:1px solid #e8e8e8;border-bottom: 1px solid #eaeaea;border-right: 1px solid #eaeaea;}
#navBar .cat-menu .child_menu_img{position: absolute;bottom: -23px;right: -25px;}
#navBar .cat-menu .child_menu_cont{position: relative;height: 100%;overflow: hidden;width: 160px;padding-left: 20px;padding-top: 10px;}
#navBar .parent_title{overflow: hidden;margin-bottom: 10px;width:100%;}
#navBar .parent_title a{float: left;height: 35px;line-height: 35px;border-bottom: 2px solid #e8e8e8;float: left;font-size: 20px;}
#navBar .child_menu_link a{padding:0 10px;white-space:nowrap; min-width: 60px;float: left;line-height: 2;}
#navBar .cat-menu dl { margin: 0;float: left;}
#navBar .cat-menu dl.c1 {background-color: #FFF; border-color: #FFF #FFF #EFEFEF #FFF;}
#navBar .cat-menu dl.c2 { background-color: #F5F5F5;  border-color: #EFEFEF; }
#navBar .cat-menu dt { line-height: 20px; width: 80px; height: 20px;  padding: 2px 0; overflow: hidden;}
#navBar .cat-menu dd {/* width: 320px;*/ padding: 0; margin: 0;}
#navBar .cat-menu dd a { font-size: 12px; line-height: 20px;padding-right: 20px; margin: 0; overflow: hidden;}

.left_cont{border-top: 1px solid #e8e8e8;position: relative;height: 460px;padding:20px;padding-top: 10px;line-height: 2;display: none;}
.left_cont .left_cont_bg{position: absolute;right: 0;top: 0px;}
.left_cont .style_list{width: 150px;}
.left_cont .style_list dt{height: 40px;line-height: 40px;font-size: 16px;font-weight: bold;}
.left_cont .style_list dd{float: left; white-space:nowrap;position: relative;padding-right:10px;}
.left_cont .style_list dd a{color:#999;}
.left_cont .style_list dd a:hover{color:#F4614D;}


.adimg{float: left;margin-left: -265px;position: relative;}
.adimg .J_move_pic{position: relative;width:265px; height: 94px;overflow: hidden;}
.adimg .J_move_pic li{width:265px; height: 94px;position: absolute;left: 0;top: 0;_zoom:1;}
.adimg .J_move_pic li.cur{}
.adimg .J_move_but{display: none;}
.adimg .hoverBut{display: block;}
.adimg .J_move_but li{border:1px solid #999;cursor: pointer;display: inline-block;width: 11px;height: 12px;background: url(/img/mall/list/arrow.png) no-repeat;vertical-align: middle;overflow: hidden;position: absolute;top: 40px;}
.adimg .J_move_but li.J_moveL{background-position:  -6px -199px;left: 15px;}
.adimg .J_move_but li.J_moveR{background-position:  -5px -149px;right: 15px;}

/*右侧id显示*/
.list_cut_img{width: 208px;height: 306px;overflow: hidden;float: left;display: inline;position: relative;}
.list_cut_img .J_move_pic{}
.list_cut_img .J_move_pic li{position: absolute;left:0px;top: 0;width: 210px;}
.list_cut_img .J_move_pic .cur{}
.list_cut_img .J_move_text{position:absolute;top:10px;left:120px;}
.list_cut_img .J_move_text li{position: relative;display:inline;float: left;line-height: 12px;height: 12px;width: 12px;margin-right: 10px;border-radius: 6px;-moz-border-radius: 6px;background: #CCC;cursor: pointer;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;text-align:center;}
.list_cut_img .J_move_text .cur{background:#FF6967;filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;}
.list_cut_img .J_move_text a{color:#fff;}

/*  详情页右侧推荐  */
.list_right_like{font-family: '微软雅黑';width:209px;border:1px solid #e8e8e8;}
.list_right_like .rightTitle{font-size: 18px;margin: 20px 0;padding-left: 20px;}
.list_right_like .changeRight{float: right;font-size: 12px;padding-top: 5px;margin-right: 20px;display: inline;}
.list_right_like .J_move_pic{position: relative;width:208px; height: 720px;overflow: hidden;}
.list_right_like .J_move_pic a img{border:1px solid #e8e8e8;width: 135px;height:135px;vertical-align: top;}
.list_right_like .J_move_pic a:hover img{border-color:#F6614B;}
.list_right_like .J_move_pic li{width:209px; height: 720px;position: absolute;left: 0;top: 0;_zoom:1;background-color: #fff;}
.list_right_like .J_move_pic li.cur{}
.list_right_like .J_move_pic div{width:137px;float: left;display: inline;padding:10px 35px 0;}
.list_right_like .J_move_pic p.idImg{text-align: center;}
.list_right_like .J_move_pic p.idDes{padding-top: 5px;}
.list_right_like .J_move_pic p.idDes span.id_price{font-size: 16px;color: #F6614B;font-weight: bold;height: auto;line-height: 22px;}
.list_right_like .J_move_pic p.idDes span.id_price s{font-size: 12px;text-decoration: none;}
.list_right_like .J_move_text{height:30px;line-height: 30px;float: left;display: inline;text-align: center;font-size: 14px; }
.list_right_like .J_move_text li{width: 80px;display: block;cursor: pointer;border-left: 1px solid #e8e8e8;margin-left: -1px;color:#999; }
.list_right_like .J_move_text li.cur{color:#666;}
.list_right_like .id_salenum{color: #999999;float: right;line-height: 22px;display: inline;}

/* 右侧热门列表 */
.right_list{width:208px;margin-right: 1px;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;overflow: hidden;}
.fixed_pos .list_cut_img{position: fixed;top: 0;border-right:1px solid #eaeaea;border-bottom:1px solid #eaeaea;width: 208px;overflow: hidden;float: none;display: block;}
*html .fixed_pos .list_cut_img{position: relative;border:none;border-bottom:1px solid #eaeaea;}

/*兼容用户中心的样式*/
.quick-login .enter input.submit,.quick-login .enter input.submit:visited{color: #fff;height: 43px;box-shadow: none;background: #F6614B;border:none}
.quick-login .enter input.submit:hover,.quick-login .enter input.submit:active { color: #fff;box-shadow: none;background: #E34B35;}

.inline_z_show{display: none;}
.inline_k_show{display: inline;}
@media (max-width:1224px){
    .wrap-all,.navBar_inner,#topHeader{width: 990px !important;}
    #search,.adimg{width: 625px !important;}
    .right_z_noshow{display: none !important;}
    .inline_k_show{display: none !important;}
    .inline_z_show{display: inline !important;}
    .center_ban_bg{background-position:center -13px !important;}
    .list_right{display: none}

    #footer{width: 840px;}
    #footer dl{padding-right: 85px;}
}
.window990 .window990 .wrap-all,.window990 .navBar_inner,.window990 #topHeader{width: 990px !important;}
.window990 #search,.window990 .adimg{width: 625px !important;}
.window990 .right_z_noshow{display: none !important;}
.window990 .inline_k_show{display: none !important;}
.window990 .inline_z_show{display: inline !important;}
.window990 .center_ban_bg{background-position:center -13px !important;}

.side_popup{position: absolute;}



/*临时样式*/
/*#topHeader #search,*/
#page .quick-menu li.links,
body #home .predeposit-info,
body #shop-search{display: none;}
body #shop-info .shop-info-simple {border:solid #E7E7E7 1px; border-radius:4px;}
body #shop-info:hover .shop-info-simple {border-radius: 4px 4px 0 0;}
.remind{text-align: center;}